.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
  }
  /* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 250ms, color 250ms;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.work, .projects, .skills{
  background-color: #1abc9c;
  padding: 10px;
  margin: 20px;
}

h2{
  color: white;
}

/* Main column */
.main {   
  flex: 70%;
  background-color: #f1f1f1;
  padding: 20px;
}

.skills{
  margin-bottom: 0;
  padding-bottom: 0;
}


.languages, .devTools, .electricalTools{
  vertical-align: top;
  display: inline-block;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 0;
  text-align: left;
}

.skills ul,li{
  margin: 0;
  padding: 0;
}


/* Fake image, just for this example */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Floating Scroll-To-Top Button */
#scrollToTop {
  width: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100,100,100);
  color: white;
  padding: 3px;
  padding-top: 8px;
  border-radius: 4px;
  transition: background-color 250ms, color 250ms;
}
#scrollToTop:hover {
  background-color: #7dbbf1;
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
}